      
body{
  background-image: url("https://sccnhub.com/media/com_easysocial/photos/1075/1261/kct-building-jpeg_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.container button.hidden{
  background-color: transparent;
  border-color: #ccc;
}
header {
    
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 20px 0;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
.post {
  background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.comment-form {
    display: none;
    margin-top: 10px;
}
button {
    background-color: #7971e4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}
button:hover {
    background: color #7971e4;;
}
.comments {
    margin-top: 10px;
}
.comment {
    margin-bottom: 10px;
}
.comment-author {
    font-weight: bold;
}
.comment-form input,
.comment-form textarea {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment-form button {
    width: 100%;
}
